html,
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
p,
ul,
ol,
a {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(25, 160, 142);
  cursor: pointer;
  text-decoration: none;
}

h3 {
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

h3 :after {
  content: '';
  display: block;
  height: 3px;
  background-color: rgb(25, 160, 142);
  margin: 10px auto 0;
  transition: 1s;
}

h3 :after {
  width: 250px;
  transition: ease-out 1s;
}

.header {
  position: absolute;
  top: 330px;
  right: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap;
}

.name {
  width: 40rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(25, 160, 142, 0.516);
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  padding: 1.5rem 1rem 1.5rem 3rem;
}

.name :first-child {
  text-transform: uppercase;
}

.name :last-child {
  font-size: 1.5rem;
}

.contacts {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.contacts p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.contacts :last-child {
  line-height: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

aside {
  max-width: 35rem;
  height: 100%;
  background-color: rgb(33, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.skills {
  padding: 2rem 4rem;
}

.photo {
  width: 100%;
  height: 100%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

.skills {
  color: #ffffff;
}

li {
  font-size: 1.5rem;
  font-weight: 400;
}

section {
  max-width: calc(100% - 39rem);
  padding: 3rem;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.experience {
  margin-top: 15rem;
}

.footer {
  margin-top: auto;
}
