html,
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
p,
ul,
ol,
a {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(25, 160, 142);
  cursor: pointer;
  text-decoration: none;
}

h3 {
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

h3 :after {
  content: '';
  display: block;
  height: 3px;
  background-color: rgb(25, 160, 142);
  margin: 10px auto 0;
  transition: 1s;
}

h3 :after {
  width: 250px;
  transition: ease-out 1s;
}

.basic-header {
  position: absolute;
  top: 24rem;
  right: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.add-header {
  display: none;
}

.name {
  width: 40rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(25, 160, 142, 0.516);
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  padding: 1.5rem 1rem 1.5rem 3rem;
}

.name :first-child {
  text-transform: uppercase;
}

.name :last-child {
  font-size: 1.5rem;
}

.contacts {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
}

.contacts p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.contacts :last-child {
  line-height: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
}

aside {
  width: 40%;
  min-height: 100%;
  background-color: rgb(33, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  font-size: 2rem;
  font-weight: 700;
}

.skills {
  padding: 2rem 4rem;
}

.photo {
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

.skills {
  color: #ffffff;
}

li {
  font-size: 1.5rem;
  font-weight: 400;
}

section {
  width: 60%;
  min-height: 100%;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.about-me {
  width: 100%;
}

.experience {
  width: 100%;
  margin-top: 19rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.education {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.time {
  width: 80px;
  font-weight: 700;
}

.experience-section,
.education-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
}

.experience-section ul {
  list-style-type: none;
}

.experience-section ul li::before {
  content: '►';
  padding-right: 0.5em;
}

.footer {
  width: 100%;
  margin-top: auto;
  height: 30px;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  background-color: rgba(25, 160, 142, 0.3);
}

@media (max-width: 992px) {
  .basic-header {
    display: none;
  }
  .add-header {
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .experience {
    margin-top: 15rem;
  }
}

@media (max-width: 544px) {
  .content {
    flex-direction: column;
  }

  .basic-header {
    top: 41rem;
    display: flex;
    height: 25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: #ffffff;
  }

  .contacts {
    padding: 1.5rem;
  }

  .name :first-child {
    font-size: 2rem;
  }

  .add-header {
    display: none;
  }

  aside {
    width: 100%;
    padding: 0;
    align-items: flex-start;
  }

  section {
    width: 100%;
    padding: 0.5rem;
  }

  .skills {
    margin-top: 17rem;
  }

  .experience {
    margin-top: 0;
  }
}
